.bundle
/.yardoc
/_yardoc/

/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/public
/.byebug_history

# rspec failure tracking
.rspec_status

# ignore latest gemfile lock so that travis always tests newest gems
/gemfiles/latest.gemfile.lock
/Gemfile.lock

