// VARIABLES

$primaryColor:  #CC0000
$secondaryColor: darken($primaryColor, 5%)
$bg: #f9f9f9

$teal: #0a628a
$green: #398927
$red: #CC0000
$yellow: #e5c105

$font-size: 1.6em
$font-weight: 300
$font: Helvetica, sans-serif
$default: Helvetica, sans-serif

// IMPORTS

@import font-awesome
@import "placeholders"
@import "mixins/buttons"
@import "mixins/icons"
@import "mixins/notification-text"

@import "breadcrumb-nav"
@import "help-text"
@import "media-tree"
@import "modal"
@import "preview-media"

//

body
  font: 300 62.5% $default

.dsml
  *
    box-sizing: border-box
    position: relative

.dsml .hidden
  display: none

.dsml-media-nest
  display: none

.dsml-expand-input:checked ~ .dsml-media-nest
  display: block

.dsml-media-button, .flash-notice, .flash-alert
  text-transform: uppercase

// FORM ELEMENTS

.dsml-label
  color: $primaryColor
  display: block
  font: 700 $font-size $default
  margin-bottom: 8px
  &.dsml-optional
    &:after
      content: "(optional)"
      color: #999
      font-size: 0.8em
      display: inline-block
      margin-left: 4px
      font-style: italic
      font-weight: 200
  em
    color: #666
  & + span, & + p
    display: inline-block
    margin: 0
    font-size: $font-size
    line-height: 1.2em

// OPEN ALL

#open-all
  position: absolute
  left: -20px

.dsml-open-all-label
  +dsml-button(#fcfcfc, #444, 1.1em, true, "folder-open")

// SEARCH MEDIA

#dsml-search_media
  margin: 10px 0 0

input.dsml-text
  @extend %dsml-generic-input
  margin: 10px 0 0

// TABLE BUTTONS

.dsml-media-button
  +dsml-button(#f6f6f6, #444, 1.1em)
  padding: 0 10px
  margin-left: 5px
  & + em
    margin: 0 5px

.dsml-media-wrapper
  overflow: auto
  height: 100%

input[multiple="multiple"]
  & ~ .dsml-playlist-media
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    .dsml-preview-form
      flex: 0 1 32%
      margin: 10px 1% 0 0

.dsml-table-buttons
  text-align: right
  clear: both
  a
    margin-left: 10px

.dsml-add-button
  +dsml-button($teal, #fcfcfc, 1.1em, true, "plus")

.dsml-table-buttons-flex
  display: flex
  display: -webkit-flex
  clear: both
.dsml-buttons-right
  text-align: right
  a
    margin-left: 10px
.dsml-buttons-left
  flex: 1 0
  a, label
    margin-right: 10px
    display: inline-block

